<div th:fragment="advertisment">
    <div class="abt-section mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="abt-bg">
                        <!-- Placeholder for your video -->
                        <a href="https://youtu.be/zea3VZ3sXY8" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-text">
                        <p class="top-sub">Your Rental Company Since 2024</p>
                        <h2>Welcome to <span class="orange-text">Rental MS</span></h2>
                        <p>Discover the ultimate solution for your event needs with our extensive range of top-quality rental equipment. From stage lighting and sound systems to stage platforms and props, we have everything you need to create unforgettable experiences for your audience.</p>
                        <p>With years of experience in the industry, we pride ourselves on delivering exceptional service and reliability to ensure your event runs smoothly from start to finish. Let us help you bring your vision to life and make your event a resounding success.</p>
                        <a href="about.html" class="boxed-btn mt-4">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
