<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Welcome to Rental MS! Dedicated to revolutionizing rental management, we offer automated solutions for rent collection,
                            maintenance, leases, and more. With a focus on innovation and customer satisfaction, we strive to make renting hassle-free
                            for property owners and tenants alike. Join us as we redefine the rental market.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>31234 Innovation Avenue,</li>
                            <li>Suite 202,</li>
                            <li>SmartCity, RENTAL-123,</li>
                            <li>United States.</li>
                            <li>contact@rental.ms</li>
                            <li>+00 555 234 7564</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/aboutUs">About</a></li>
                            <li><a href="shop">Shop</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Stay informed. Subscribe for updates</p>
                        <form action="/error404">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>