<div th:fragment="hero-area">
    <div class="hero-area custom-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Rental MS</p>
                            <h1 th:text="${randomSlogan}">Rental MS - Slogan</h1>
                            <div class="hero-btns">
                                <a href="shop.html" class="boxed-btn">Our Store</a>
                                <a href="contact.html" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>