<div th:fragment="logo-carusel">
    <div class="logo-carousel-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img th:src="@{/img/custom-graphics/Icons/Company logos/Logo1.png}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img th:src="@{/img/custom-graphics/Icons/Company logos/Logo2.png}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img th:src="@{/img/custom-graphics/Icons/Company logos/Logo3.png}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img th:src="@{/img/custom-graphics/Icons/Company logos/Logo4.png}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img th:src="@{/img/custom-graphics/Icons/Company logos/Logo5.png}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img th:src="@{/img/custom-graphics/Icons/Company logos/Logo6.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>