<div th:fragment="testimonial">
    <div class="testimonial-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="testimonial-sliders">
                        <div class="single-testimonial-slider">
                            <div class="client-avater">

                                <img th:src="@{/img/custom-graphics/Customers/Customer (1).jpeg}" alt="Client Avatar">
                            </div>
                            <div class="client-meta">
                                <h3>John Smith <span>Event Planner</span></h3>
                                <p class="testimonial-body">
                                    "The stage lighting equipment from your company exceeded my expectations. It added a whole new level of ambiance to our event. I highly recommend your services to anyone in need of top-notch equipment."
                                </p>
                                <div class="last-icon">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-slider">
                            <div class="client-avater">
                                <img th:src="@{/img/custom-graphics/Customers/Customer (3).jpeg}" alt="Client Avatar">
                            </div>
                            <div class="client-meta">
                                <h3>Laura Johnson <span>Event Organizer</span></h3>
                                <p class="testimonial-body">
                                    "The stage platforms we rented from your company were sturdy and reliable. They made setting up our event a breeze. Thank you for providing high-quality equipment and excellent service!"
                                </p>
                                <div class="last-icon">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-slider">
                            <div class="client-avater">
                                <img th:src="@{/img/custom-graphics/Customers/Customer (4).jpeg}" alt="Client Avatar">
                            </div>
                            <div class="client-meta">
                                <h3>Sarah Miller <span>Event Coordinator</span></h3>
                                <p class="testimonial-body">
                                    "I was impressed by the professionalism and expertise of your team. The sound system we rented worked flawlessly throughout our event, ensuring a memorable experience for everyone in attendance. Thank you for your outstanding service!"
                                </p>
                                <div class="last-icon">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-slider">
                            <div class="client-avater">
                                <img th:src="@{/img/custom-graphics/Customers/Customer (6).jpeg}" alt="Client Avatar">
                            </div>
                            <div class="client-meta">
                                <h3>Michael Davis <span>Event Producer</span></h3>
                                <p class="testimonial-body">
                                    "The stage equipment rental experience with your company was seamless from start to finish. Your team was responsive, professional, and accommodating. I will definitely be using your services again for future events!"
                                </p>
                                <div class="last-icon">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-slider">
                            <div class="client-avater">
                                <img th:src="@{/img/custom-graphics/Customers/Customer (7).jpeg}" alt="Client Avatar">
                            </div>
                            <div class="client-meta">
                                <h3>Emily Clark <span>Event Manager</span></h3>
                                <p class="testimonial-body">
                                    "Thank you for providing top-of-the-line stage equipment for our recent event. The lighting and sound systems contributed greatly to the success of the production. Your professionalism and attention to detail were commendable. Highly recommended!"
                                </p>
                                <div class="last-icon">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
