<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		  content="Bootstrap Template Created by Imran Hossain. Edited and used for Portfolio purposes by Grzegorz Sroda">

	<!-- title -->
	<title>Rental MS</title>
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" th:href="@{/img/custom-logos/logo-small-black.png}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<!-- Link to all.min.css -->
	<link rel="stylesheet" th:href="@{/css/all.min.css}">

	<!-- Link to bootstrap.min.css -->
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<!-- Link to owl.carousel.css -->
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<!-- Link to magnific-popup.css -->
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<!-- Link to animate.css -->
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<!-- Link to meanmenu.min.css -->
	<link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
	<!-- Link to main.css -->
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<!-- Link to responsive.css -->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">

</head>
<body>

<!--PreLoader-->
<div th:replace="fragments/pre-loader :: pre-loader"></div>
<!--PreLoader Ends-->

<div th:replace="fragments/header :: header"></div>


<!-- search area -->
<div th:replace="fragments/search-area :: search-area"></div>
<!-- end search area -->


<!-- breadcrumb-section -->
	<div class="breadcrumb-section news-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Rental MS</p>
						<h1>Latest News</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-4"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Fall in love with the fresh orange</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-5"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Why the berries always look delecious</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-6"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Love for fruits are genuine of John Doe</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2018</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Prev</a></li>
									<li><a href="#">1</a></li>
									<li><a class="active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

<!-- logo carousel -->
<div th:replace="fragments/logo-carusel :: logo-carusel"></div>
<!-- end logo carousel -->

<!-- footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- end footer -->

<!-- copyright -->
<div th:insert="fragments/copyright :: copyright"></div>
<!-- end copyright -->

<!-- scripts -->
<div th:insert="fragments/scripts :: scripts"></div>
<!-- end scripts -->
<script>
	const newsBackgrounds = document.querySelectorAll('.news-bg');
	const newsImageUrls = [
		'url(../img/custom-graphics/Backgrounds/NewsBG1.jpeg)',
		'url(../img/custom-graphics/Backgrounds/NewsBG2.jpeg)',
		'url(../img/custom-graphics/Backgrounds/NewsBG3.jpeg)',
		'url(../img/custom-graphics/Backgrounds/NewsBG4.jpeg)',
		'url(../img/custom-graphics/Backgrounds/NewsBG5.jpeg)',
	];

	newsBackgrounds.forEach(background => {
		const randomIndex = Math.floor(Math.random() * newsImageUrls.length);
		background.style.backgroundImage = newsImageUrls[randomIndex];
		background.style.backgroundSize = 'cover';
		background.style.backgroundPosition = 'center';
		background.style.backgroundAttachment = 'fixed';
	});

</script>
</body>
</html>