<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Bootstrap Template Created by Imran Hossain. Edited and used for Portfolio purposes by Grzegorz Sroda">

    <!-- title -->
    <title>Rental MS</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/img/custom-logos/logo-small-black.png}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <!-- Link to all.min.css -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">

    <!-- Link to bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Link to owl.carousel.css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- Link to magnific-popup.css -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <!-- Link to animate.css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- Link to meanmenu.min.css -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- Link to main.css -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- Link to responsive.css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

</head>
<body>


<!--PreLoader-->
<div th:replace="fragments/pre-loader :: pre-loader"></div>
<!--PreLoader Ends-->

<div th:replace="fragments/header :: header"></div>


<!-- search area -->
<div th:replace="fragments/search-area :: search-area"></div>
<!-- end search area -->


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">

                    <p>Read the Details :</p>
                    <h1><span th:text="${news.title}"></span></h1>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single article section -->
<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-article-section">
                    <div class="single-article-text">

                        <div class="single-artcile-bg"
                             th:style="'background-image: url(' + (${news.imageUrl} ?: '/img/custom-graphics/Backgrounds/NewsDefault2.jpeg') + ');'"></div>


                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> <span
                                    th:text="${news.author}"></span></span>
                            <span class="date"><i class="fas fa-calendar"></i> <span
                                    th:text="${news.date}"></span></span>
                        </p>
                        <h3><span th:text="${news.excerpt}"></span> </h3>

                        <h2><span th:text="${news.title}"></span></h2>
                        <p><span th:text="${news.content}"></span></p>
                    </div>

                    <div class="comments-list-wrap">
                        <h3 class="comment-count-title" th:text="'Comments (' + ${commentNumber} + ')'"></h3>
                        <div class="comment-list">
                            <div th:each="comment, iterStat : ${ListOfNewsComment}">
                                <div class="single-comment-body" th:classappend="${iterStat.index >= 5 ? ' hidden' : ''}">
                                    <div class="comment-user-avater">
                                        <img src="assets/img/avaters/avatar1.png" alt="">
                                    </div>
                                    <div class="comment-text-body">
                                        <h5>
                                            <span th:text="${comment.username}"></span>
                                            <span class="comment-date" th:text="${comment.formattedDate}"></span>
                                            <!-- <a href="#">reply</a> -->
                                        </h5>
                                        <p th:text="${comment.content}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span id="showMoreComments" onclick="showMoreComments()" style="cursor: pointer;">More</span>
                    </div>

                    <script>
                        // JavaScript function to update "More" link text with remaining comments count
                        function updateMoreLinkText(hiddenCommentsCount) {
                            var moreLink = document.getElementById('showMoreComments');
                            moreLink.textContent = 'More (' + hiddenCommentsCount + ')';
                        }
                        function showMoreComments() {
                            var hiddenComments = document.querySelectorAll('.comment-list .single-comment-body.hidden');

                            hiddenComments.forEach(function(comment) {
                                comment.classList.toggle('hidden');
                            });

                            updateMoreLinkText(hiddenComments.length);
                        }
                    </script>




                    <form th:action="@{/comments/submit}" method="post" th:object="${commentDTO}">
                        <input type="hidden" th:name="newsID" th:value="${newsID}" />
                        <p>
                            <input type="text" th:field="*{name}" placeholder="Your Name">
                            <input type="email" th:field="*{email}" placeholder="Your Email">
                        </p>
                        <p><textarea th:field="*{comment}" id="comment" cols="30" rows="10" placeholder="Your Message"></textarea></p>
                        <p><input type="submit" value="Submit"></p>
                    </form>











                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-section">
                    <div class="recent-posts">
                        <h4>Recent News</h4>
                        <ul>
                            <li th:each="newsItem : ${newsList}">
                                <a th:href="@{'/news/' + ${newsItem.id}}" th:text="${newsItem.title}">News Title</a>
                            </li>
                        </ul>
                    </div>


                    <!-- LEGACY CODE LEFT AS BACKUP
                    <div class="archive-posts">
                        <h4>Archive News</h4>
                        <ul>
                            <li th:each="monthEntry : ${articleCountByMonth[0]}">
                                <a th:text="${monthEntry.key} + ' (' + ${monthEntry.value} + ')'"></a>
                            </li>
                        </ul>
                    </div>
                    -->


                    <!-- Loop through the article count by month -->
                    <div class="archive-posts">
                        <h4>Archive News</h4>
                        <ul>
                            <li th:each="monthEntry : ${articleCountByMonth[0]}">
                                <a href="#" th:text="${monthEntry.key} + ' (' + ${monthEntry.value} + ')'"
                                   th:attr="data-target='#articlesCollapse' + ${#strings.replace(monthEntry.key, ' ', '')}"
                                   data-toggle="collapse"></a>

                                <ul class="collapse" th:id="'articlesCollapse' + ${#strings.replace(monthEntry.key, ' ', '')}">

                                    <li th:each="article : ${articlesByMonth[monthEntry.key]}">
                                        <a th:href="@{'/news/' + ${article.id}}">
                                            <p th:text="${article.title}"></p>

                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>




                    <!-- LEGACY WE MIGHT GO BACK TO THAT CODE LATER
                    <div class="tag-section">
                        <h4>Tags</h4>
                        <ul>
                            <li><a href="single-news.html">Apple</a></li>
                            <li><a href="single-news.html">Strawberry</a></li>
                            <li><a href="single-news.html">BErry</a></li>
                            <li><a href="single-news.html">Orange</a></li>
                            <li><a href="single-news.html">Lemon</a></li>
                            <li><a href="single-news.html">Banana</a></li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single article section -->

<!-- logo carousel -->
<div th:replace="fragments/logo-carusel :: logo-carusel"></div>
<!-- end logo carousel -->

<!-- footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- end footer -->

<!-- copyright -->
<div th:insert="fragments/copyright :: copyright"></div>
<!-- end copyright -->

<!-- scripts -->
<div th:insert="fragments/scripts :: scripts"></div>
<!-- end scripts -->
<script>
    const newsBackgrounds = document.querySelectorAll('.news-bg');
    const newsImageUrls = [
        'url(../img/custom-graphics/Backgrounds/NewsBG1.jpeg)',
        'url(../img/custom-graphics/Backgrounds/NewsBG2.jpeg)',
        'url(../img/custom-graphics/Backgrounds/NewsBG3.jpeg)',
        'url(../img/custom-graphics/Backgrounds/NewsBG4.jpeg)',
        'url(../img/custom-graphics/Backgrounds/NewsBG5.jpeg)',
    ];

    newsBackgrounds.forEach(background => {
        const randomIndex = Math.floor(Math.random() * newsImageUrls.length);
        background.style.backgroundImage = newsImageUrls[randomIndex];
        background.style.backgroundSize = 'cover';
        background.style.backgroundPosition = 'center';
        background.style.backgroundAttachment = 'fixed';
    });

</script>


</body>
</html>